.git
.venv
venv
.local
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache
.coverage
.mypy_cache
.tox
.DS_Store
node_modules
.env
.env.*
.vscode
.idea
*.egg-info
dist
build
*.log
.gitignore
README.md
