GOOGLE_API_KEY=
RPC_URL=https://node.mainnet.etherlink.com
STRATEGIST_PRIVATE_KEY=
STRATEGIST_ADDRESS=
VAULT_ADDRESS=
WXTZ_ADDRESS=0xc9B53AB2679f573e480d01e0f49e2b5cfb7a3eab
USDC_ADDRESS=0x796Ea11Fa2dD751eD01b53C372fFDB4AAa8f00F9
OKU_ROUTER=0x9db70E29712Cc8Af10c2B597BaDA6784544FF407

# Database configuration
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=
ADMIN_SECRET=